---
export async function getStaticPaths() {
  const data = await fetch(
    "https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
      },
    }
  ).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);

// {
//   id: 5,
//   kunsterNavn: 'MILEZ',
//   beskrivelse: null,
//   kunsterBillede1: 'milez_card.webp',
//   kunsterBillede2: 'milez_singleview.png',
//   spotifyPlaylistLink: null,
//   facebookLogoLink: null,
//   instagramLogoLink: null,
//   spotifyLogoLink: null,
//   slug: 'Milez'
// }
---
<section class="singleview_img ">
  <img class="artist_img" src={"/public/images/" + `${myData.kunsterBillede2}`} alt="billede af artist";/>
   <div class="name_scrollbar">
    <h1>{myData.kunsterNavn}</h1>
    <h1>{myData.kunsterNavn}</h1>
   </div>
    
</section>
<section class="artist_info">
  <div class="singleview_grid">
    <div class="singleview_text">
      <h3>{myData.kunsterNavn}</h3>
      <p>{myData.beskrivelse}</p>
    </div>
    <div class="singleview_links"></div>
  </div>
</section>


<style>



  .artist_img {
    position: relative;
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  
  }
  .name_scrollbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    gap: 30rem;
    top: 25%;
    animation: scrollText 5s linear infinite;
   
    
  }
h2 {
  overflow: hidden;
}
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @media (min-width: 700px){


    .name_scrollbar{
      top: 15%;
    }
    .artist_img{
      width: 100%;
      background-size: cover;
      height: auto;
      margin: auto;
    }
  }


</style>
