---
import Nav from "../../components/Nav.astro";
import "../../style/generalstyle.css";
import Somelinks from "../../components/Somelinks.astro";
export async function getStaticPaths() {
  const data = await fetch("https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
    },
  }).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);

// {
//   id: 5,
//   kunsterNavn: 'MILEZ',
//   beskrivelse: null,
//   kunsterBillede1: 'milez_card.webp',
//   kunsterBillede2: 'milez_singleview.png',
//   spotifyPlaylistLink: null,
//   facebookLogoLink: null,
//   instagramLogoLink: null,
//   spotifyLogoLink: null,
//   slug: 'Milez'
// }
---

<section class="singleview_img">
  <img class="artist_img" src={"/public/images/" + `${myData.kunsterBillede2}`} alt="billede af artist" />
  <div class="name_scrollbar">
    <h1>{myData.kunsterNavn}</h1>
    <h1>{myData.kunsterNavn}</h1>
    <h1>{myData.kunsterNavn}</h1>
    <h1>{myData.kunsterNavn}</h1>
  </div>
</section>

<section class="singleview_grid">
  <div class="artist_info">
    <div class="col_flexSingle kunsterneNavnS">
      <h3>{myData.kunsterNavn}</h3>

      <Somelinks />
    </div>
    <p>{myData.beskrivelse}</p>
  </div>
  <div id="embed-iframe">
    <iframe style="border-radius:12px" src=`https://open.spotify.com/embed/${myData.spotifyPlaylistLink}` width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</section>

<style>
  .singleview_img {
    position: relative;
    overflow: hidden;
    background-color: rgba(42, 36, 32, 1);
    box-shadow: inset 0 -1em 5px rgb(0 0 0 / 100%);
  }

  .artist_img {
    position: relative;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 75%;
  }
  .name_scrollbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    gap: 25rem;
    top: 30%;
    animation: scrollText 30s linear infinite;
  }
  h1 {
    overflow: hidden;
    color: var(--backgroundColor);
  }

  .singleview_links {
    display: flex;
    flex-direction: row;
  }

  h3 {
    padding-bottom: 1.5rem;
  }

  .col_flexSingle {
    display: flex;
    flex-direction: row;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-58.5%);
    }
  }

  @media screen and (min-width: 600px) {
    .singleview_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 5rem 5rem 15rem 5rem;
      gap: 5rem;
    }

    .name_scrollbar {
      top: 33.33%;
    }
    .artist_img {
      width: 100%;
      background-size: cover;
      height: auto;
      margin: auto;
    }
  }
</style>
