---
// import { isVNode } from "astro/jsx-runtime";

const { data } = Astro.props;
import "../style/card.css";

import Somelinks from "../components/Somelinks.astro";
---

<div class="containerCards">
  <a class="cardsLink" href={`artist/${data.slug}`}>
    <article>
      <section class="collab_wrappeCards">
        <div class="name_wrapperCards">
          <h2 class="colCard listeNavnCards">{data.kunsterNavn}</h2>

          <img class="kunsterPic" src={"/public/images/" + `${data.kunsterBillede1}`} alt="billede af artist" ; />
          <Somelinks />
        </div>
      </section>
    </article>
  </a>
</div>

<script>
  async function fetchData(stilling) {
    let url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData?stilling}`;
    if (stilling === "all") {
      url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData`;
    } else {
      url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData?stilling=eq.${stilling}`;
    }
    console.log(url);
    const response = await fetch(url, {
      method: "GET",
      headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
      },
    });
    console.log(stilling);
    return response.json();
  }

  function renderArtists(artists) {
    const artistSection = document.querySelector(".artist.grid_auto");
    artistSection.innerHTML = ""; // Clear existing content

    artists.forEach((artist) => {
      artistSection.innerHTML += `<div class="containerCards">
          <a href="artist/${artist.slug}">
            <article>
              <section class="collab_wrappe">
                <div class="name_wrapper">
                  <h2 class="col listeNavn">${artist.kunsterNavn}</h2>
                  <img src="/public/images/${artist.kunsterBillede1}" alt="billede af artist" />
                </div>
              </section>
            </article>
          </a>
        </div>`;
    });
  }

  document.querySelectorAll(".filter_knap").forEach((button) => {
    button.addEventListener("click", async () => {
      const stilling = button.textContent.toLowerCase();
      const data = await fetchData(stilling);
      renderArtists(data);
    });
  });

  // virker med klick console.log

  // async function fetchData(stilling) {
  //   let url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData?stilling}`;
  //   if (stilling === "all") {
  //     url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData`;
  //   } else {
  //     url = `https://qqlcqmrveupfwluwoctv.supabase.co/rest/v1/affiliatedCphData?stilling=eq.${stilling}`;
  //   }
  //   console.log(url);
  //   const response = await fetch(url, {
  //     method: "GET",
  //     headers: {
  //       apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbGNxbXJ2ZXVwZndsdXdvY3R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc3MzQ3MzQsImV4cCI6MjAyMzMxMDczNH0.18SZnOZc5uAHdiIeonTl5cOenfcDIkL4VOhqSCsTFwM",
  //     },
  //   });
  //   console.log(stilling);
  //   return response.json();
  // }

  // function renderArtists(artists) {
  //   const artistSection = document.querySelector(".artist.grid_auto");
  //   artistSection.innerHTML = "";
  //   artists.forEach((artists) => {
  //     artistSection.innerHTML += `<ArtistListe data=${artists} />`;
  //   });
  // }

  // document.querySelectorAll(".filter_knap").forEach((button) => {
  //   button.addEventListener("click", async () => {
  //     const stilling = button.textContent.toLowerCase();
  //     const data = await fetchData(stilling);
  //     renderArtists(data);
  //   });
  // });

  // måske det her virker leg med det
  // async function renderArtists(artists) {
  //   const artistSection = document.querySelector(".artist.grid_auto");
  //   artistSection.innerHTML = ""; // Clear existing content

  //   for (const artist of artists) {
  //     const artistCardContainer = document.createElement("div");
  //     artistCardContainer.innerHTML = await Astro.renderComponent({
  //       Component: Somelinks,
  //       props: { data: artist },
  //     });
  //     artistSection.appendChild(artistCardContainer);
  //   }
  // }
</script>
