---
// import { isVNode } from "astro/jsx-runtime";

const { data } = Astro.props;
---

<div class="containerCards">
  <a href={`artist/${data.slug}`}>
    <article>
      <section class={(data.stilling && "label") || "publishing" || "management" || "collab_wrappe"}>
        <div class="name_wrapper">
          <h2 class="col listeNavn">{data.kunsterNavn}</h2>

          <img src={"/public/images/" + `${data.kunsterBillede1}`} alt="billede af artist" ; />

          <div class="icon_container">
            <p>
              <a class="social-icon" href=`${data.spotifyLogoLink}`><i class="fab fa-spotify fa-2xl"></i></a>
            </p>
            <p>
              <a class="social-icon" href=`${data.youtubeLogoLink}`><i class="fab fa-youtube fa-2xl"></i></a>
            </p>
            <p>
              <a class="social-icon" href=`${data.instagramLogoLink}`><i class="fab fa-instagram fa-2xl"></i></a>
            </p>
            <p>
              <a class="social-icon" href=`${data.facebookLogoLink}`><i class="fab fa-facebook fa-2xl"></i></a>
            </p>
          </div>
        </div>
      </section>
    </article>
  </a>
</div>

<style>
  img {
    width: 380px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
  }
  .icon_container {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 5vh;
  }
  .icon_container p {
    margin: 0.5rem;
  }
  .social-icon {
    font-size: 0.6rem;
  }

  .social-icon:hover {
    color: var(--accentColor);
  }
  .containerCards {
    width: 370px;
    height: 360px;
  }
  a {
    text-decoration: none;
    color: var(--backgroundColor);
  }
  img:hover {
    -webkit-filter: none;
  }

  .boxLink {
    position: relative;
    width: 360px;
  }

  .listeNavn {
    position: absolute;
    top: 35%;
    width: 100%;
    animation: scrollText 10s linear infinite;
    display: none;
    pointer-events: none;
  }

  img {
    overflow: hidden;
  }
  .name_wrapper:hover .listeNavn {
    display: block;
  }
  .collab_wrappe {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }

  .img_wrapper {
    display: flex;
    width: 100%;
    animation: scrollText 1s linear infinite;
  }
  .col {
    display: flex;
  }

  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-60%);
    }
  }
</style>
